* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    background-color: #001e42;
}

h5 {
    font-size: 1.5rem;
    margin: 2rem 0;
    color: darkgray;
    font-weight: 700;
}

p {
    color: darkgrey;
}

.container {
    max-width: 1330px;
    margin: 5rem auto;
}

.section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0 10px;
}

.cardItem {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(99, 99, 99, 0.5);
    padding: 43px;
    position: relative;
    cursor: pointer;
    background-color: #0f3062;
}

.cardItem::before,
.cardItem::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 20%;
    transition: all 0.5s ease;
}

.cardItem::before {
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid;
    border-right: 3px solid;
    border-bottom-right-radius: 20px;
}

.cardItem::after {
    top: -2px;
    left: -2px;
    border-top: 3px solid;
    border-left: 3px solid;
    border-top-left-radius: 20px;
}

.search::before,
.search::after {
    border-color: #015bfa;
}

.cloud::before,
.cloud::after {
    border-color: #ef5e44;
}

.users::before,
.users::after {
    border-color: #fdbe29;
}

.check::before,
.check::after {
    border-color: #6c3dc4;
}

.cards:hover .cardItem::before,
.cards:hover .cardItem::after {
    width: 85%;
    height: 85%;
}